/*Estilo header*/

.nav {
  display: flex;
  .menu {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin-left: auto;
    align-items: center;
    &__link {
        color: white;
        margin: 0 5px;
      }
  }
  .logo {
    width: 64px;
  }

}

a:hover.menu__link {
  color: #fff;
  background-color: blue;
  border: 3px solid green;
  font-family: impact;
}
