/*Productos*/

.Productos__titulo {
  color: black;
  display: flex;
  justify-content: center;
}

.Texto_titulo {
font-size: map-get($fontsize , Large );
}

.sectionproductos {
  display: flex;
  justify-content: center;
  .imagenproducto {
    max-height: 300px;
  }
}

@media (min-width: 318px) {
  .imagenproducto {
    max-height: 330px;
  }
}

@media (min-width: 330px) {
  .imagenproducto {
    max-height: 300px;
  }
}

@media (min-width: 1480px) {
  .imagenproducto {
    max-height: none;
  }
}


